.project

*.o
*.Po
*.gz
/src/mount.davfs
/src/umount.davfs

*.m4~
/config/*.m4
!/config/davfs2.m4
!/config/gnulib-cache.m4
!/config/neon.m4
/config/.gitignore
/config/compile
/config/config.*
/config/depcomp
/config/install-sh
/config/missing

/gl
/glpo

/po/Makefile.in.in
/po/Makevars.template
/po/Rules-quot
/po/*.sed
/po/*.header
/po/*.sin
/po/POTFILES
/po/cs.gmo
/po/de.gmo
/po/stamp-po
/stamp-h1

Makefile.in
/config.h.in
/autom4te.cache
/aclocal.m4
/configure

Makefile
/config.h
/config.log
/config.status

/ABOUT-NLS

/man/de/davfs2.conf.5
/man/de/mount.davfs.8
/man/de/umount.davfs.8
/man/es/davfs2.conf.5
/man/es/mount.davfs.8.po
/man/es/umount.davfs.8.po

